{% if accounts %}

  <h2 class="h6 pt-4 pb-3 mb-4 border-bottom">Your accounts</h2>
  <ul class="list-unstyled text-start">

    {% for account in accounts %}
      <li class="my-2">
        {% if acc_url == account.slug %}
          <span
                  class="btn d-inline-flex align-items-center collapsed border-0 disabled" aria-expanded="false"
                  aria-controls="contents-collapse">
          {{ account }}
        </span>
        {% else %}
          <a href="{% url 'finances:show_account' acc_url=account.slug %}"
             class="btn d-inline-flex align-items-center collapsed border-0" aria-expanded="false"
             aria-controls="contents-collapse">
            {{ account }}
          </a>
        {% endif %}
        {% empty %}
        <a class="btn d-inline-flex align-items-center collapsed border-0 disabled" aria-expanded="false"
           aria-controls="contents-collapse">
          You do not have any account
        </a>
      </li>
    {% endfor %}


    {% else %}

  </ul>
  <h2 class="h6 pt-4 pb-3 mb-4 border-bottom">Your accounts will be above</h2>
{% endif %}