{% extends 'base.html' %}

{% block app_content %}
{% if book.record %}
  <h3>Your records in {{ book.title }} is:</h3>  <span><a class="btn btn-primary" href="{{ url_for('records.edit_record_book', title=book.title) }}">Edit book name</a></span>

<div class="list-group">
  {% for record in book.record %}
    <a href="{{ url_for('records.show_record', title=book.title, record_name=record.name) }}" class="list-group-item">{{ record.name }}</a>
  {% endfor %}
  <p><a class="btn btn-primary" href="{{ url_for('records.new_record', title=book.title) }} ">New record</a></p>

</div>
  {% else %}
  <h3>No records in {{ book.title }} book <span><a class="btn btn-primary" href="{{ url_for('records.edit_record_book', title=book.title) }}">Edit book name</a></span></h3>
  <p><a class="btn btn-primary" href="{{ url_for('records.new_record', title=book.title) }} ">New record</a></p>

{% endif %}
{% endblock %}
