{% extends 'base.html' %}

{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
<h2>Editing {{ title }} title
  <span>
    <a class="btn btn-primary" href="{{ url_for('notes.delete_note_book', title=title) }}">Delete note book</a>
  </span>
</h2>

<form action="{{ url_for('notes.edit_note_book', title=title) }}" method="post" novalidate>
  {{ form.hidden_tag() }}
  <div class="container">

    <div class="row">
      <div class="col-sm-5">
        {{ wtf.form_field(form.title) }}
      </div>
    </div>
    <div class="row">
      <div class="col-sm-5">
        {{ wtf.form_field(form.submit) }}
      </div>
    </div>

</form>
{% endblock %}