{% extends 'finances/base.html' %}

{% block content %}

    <h1 class="h3 mb-3 fw-normal">Adding new transaction to your <b>{{ account.name }}</b> account</h1>
<form action="{% url 'finances:add_transaction' acc_url=account.slug %}" method="post">
 {% include "finances/pages/_transaction.html" %}

  <button class="btn btn-lg btn-dark mt-3" type="submit">Add transaction</button>
  <a href="{% url 'finances:show_account' acc_url=account.slug %}" class="btn btn-lg btn-dark mt-3">Go back</a>

</form>

{% endblock %}
