{% extends 'finances/base.html' %}

{% block content %}

  <h1>Adding new transaction!!!</h1>
<form action="{% url 'finances:add_transaction' acc_url=account.slug %}" method="post">
  {% csrf_token %}
  {{ form.as_p }}
<label>
  Choose from the list or write your category
  <input type="text" name="category" list="dish_list">
<datalist id="dish_list">
    {% for category in categories %}
      <option>{{ category }}</option>
    {% endfor %}
</datalist>
  <input type="submit" class="btn btn-primary" value="Submit">
</label>
</form>

{% endblock %}
