{% extends 'finances/base.html' %}

{% block content %}

  {% if filled_accounts %}

      {% for contact in page_obj %}
        {{ contact }}
      {% endfor %}
    <div class="container-fluid text-">
    {% for account, transactions in filled_accounts.items %}
      <div class="col text-start text-bg-dark border">
        <h3>
        <a class="list-group-item ps-3" href="{% url 'finances:show_account' acc_url=account.slug %}">{{ account }}</a>
        </h3>
      </div>
      <div class="col border border-2">

        <div class="row row-cols-5 text-center">
          <div class="col">Description</div>
          <div class="col">Amount</div>
          <div class="col">Date</div>
          <div class="col">Category</div>
          <div class="col">Remaining balance</div>
        </div>
        <hr>

        <div class="col text-center ">

            {% for transaction in transactions|slice:"5" %}
              <div class="row row-cols-sm-5 ">
                <div class="col text-center">{{ transaction.description }}</div>
                <div class="col text-center">{{ transaction.amount }}</div>
                <div class="col text-center">{{ transaction.date|date:"d E, Y H:i:s" }}</div>
                <div class="col text-center">{{ transaction.category.name }}</div>
                <div class="col text-center">{{ transaction.balance }}</div>
              </div>
              {% if transaction != transactions|last %}
                <hr>
              {% endif %}

            {% endfor %}
          </div>
      </div>

      {% endfor %}
  {% else %}
    <h1>Greetings! Create new account to control your finances!</h1>
  {% endif %}
</div>

{% endblock %}

{% block pagination %}

<div class="container-fluid align-content-center">
  <ul class="pagination text-center d-lg-flex justify-content-center">

    {% if page_obj.has_previous %}
      <li class="page-item">
        <a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a>
      </li>
    {% endif %}

    {% for page in pages %}

      <li class="page-item">
        {% if page == page_obj.number %}
         <a class="page-link disabled" href="?page={{ page }}">{{ page }}</a>
        {% else %}
          <a class="page-link" href="?page={{ page }}">{{ page }}</a>
        {% endif %}
      </li>
    {% endfor %}
    {% if page_obj.has_next %}
      <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a></li>
    {% endif %}
  </ul>
</div>


{% endblock %}