{% extends 'finances/base.html' %}

{% block content %}
  {% if transactions %}
      <div class="row row-cols-sm-5 text-center">
        <div class="col text-center">Description</div>
        <div class="col text-center">Amount</div>
        <div class="col text-center">Date</div>
        <div class="col text-center">Category</div>
        <div class="col text-center">Remaining balance</div>
      </div>
      <hr>
    {% for transaction in transactions %}
      <div class="row row-cols-sm-5">
        <div class="col text-center">{{ transaction.description }}</div>
        <div class="col text-center">{{ transaction.amount }}</div>
        <div class="col text-center">{{ transaction.date }}</div>
        <div class="col text-center">{{ transaction.category.name }}</div>
        <div class="col text-center">{{ transaction.balance }}</div>
      </div>
      <hr>
    {% endfor %}
  {% else %}
    <h1>You do not have any transactions in this account</h1>
  {% endif %}
<a class="btn btn-primary" href="{% url 'finances:add_transaction' acc_url=acc_url %}">Add new</a>

{% endblock %}
