{% extends 'base.html' %}


{% block app_content %}
<h3>Hello {{ current_user.username }}!</h3>
<h3>You have following record books:</h3>
<ul>
  {% for book in user.record_book %}
    <li><a href="{{ url_for('records.record_book', title=book.title, book=book) }} ">{{ book.title }}</a></li>
  {% endfor %}
  <p><a href="{{ url_for('records.new_record_book') }} ">New record book</a></p>
</ul>
<hr>
<h3>You have following note books:</h3>
<ul>
  {% for book in user.note_book %}
    <li><a href="{{ url_for('notes.note_book',book=book.title) }} ">{{ book.title }}</a></li>
  {% endfor %}
</ul>
{% endblock %}