{% extends 'base.html' %}


{% block content %}
<h3>Hello {{ user.username }}</h3>
<h4>Password is {{ user.password }}</h4>
<h3>You record books is:</h3>
<ul>
  {% for book in record_books %}
    <li><a href="{{ url_for('record_book', title=book.title, book=book) }} ">{{ book.title }}</a></li>
  {% endfor %}
  <p><a href="{{ url_for('new_record_book') }} ">New record book</a></p>
</ul>
<hr>
<h3>You notebooks is:</h3>
<ul>
  {% for book in note_books %}
    <li><a href="{{ url_for('note_book',book=book.title) }} ">{{ book.title }}</a></li>
  {% endfor %}
</ul>
{% endblock %}